.main .container{
  display: flex;

}
/* 
.products {
  display: flex;
} */

.swiper1{
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 600px;
}

.swiper2{
  /* min-height: 800px; */
}

img {
  width: 100%;
  object-fit: cover;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
  width: 20px;
  height: 2px;
  border-radius: 5px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  background-color: var(--yellow);

}

.products__card {
  /* position: absolute; */
  position: relative;
  height: 496px;
  width: 394px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  align-items: flex-start;
}


.swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px;
} 




.products__card__descr {
  margin: 10px 25px 25px 25px;
  display: flex;
  flex-direction: column;
}

.products__card__descr__name {
  text-align: center;
  margin-bottom: 5px;
}

.products__card__descr__price {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 10px;
}

.products__card__descr__add {
  display: flex;
  justify-content: center;
}

.products__card__descr__add__qty {
  display: flex;
  border-color: var(--light-white);
  border-radius: 5px;
  width: 100px;
  height: 50px;
}

.minus__item,
.plus__item {
  background-color: #fff;
}

.products__card__descr__add__qty__input {
  text-align: center;
  width: 100%;
}



.products__card__descr__add__cart {
  display: flex;
  background-color: var(--yellow);
  padding: 15px 35px;
  font-family: 'RubikMedium', sans-serif;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
  line-height: 16.59px;
  color: var(--black);
}

.products__card__descr__add__cart__logo {
  background-color: var(--yellow);
  margin-right: 12px;
}